<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/admin/creategallery}" th:object="${creategallery}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Tên ảnh</th>
            <th>Miêu tả</th>
            <th>Ảnh</th>
            <td>Province:</td>
        </tr>
        <tr>
            <td><input th:field="*{nameImage}"></td>
            <td><input th:field="*{descImage}"></td>
            <td><input type="file" th:field="*{multipartFile}"></td>

            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${listCate}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        </tr>
    </table>
<input type="submit" th:value="Create">
</form>

</body>
</html>